table {
	border-collapse: collapse;
}

td {
	border: solid 1px;
	padding: 0.5em;
}
body {
	color:#000;
	background-color:#FFF;
}
.name{
	color:#FFF;
	background-color:#FFF;
}
#playername{
	background-color:#222;
	color:#fff;
}
.me{
	color:#f00;
}
.black{
	color:#ccc;
}